<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.undp_iwomen.iwomen">
    <!-- crop images library -->
    <uses-sdk tools:overrideLibrary="com.android.camera" />

    <!-- Permissions -->
    <!-- google map my location permission above 6.0 phone -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- google map my location permission above 6.0 phone -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    //for GCM permission
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Permission Push Notrification -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!--Account Kit Permission-->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />


    <permission
        android:name="org.undp_iwomen.iwomen.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.undp_iwomen.iwomen.permission.C2D_MESSAGE" />

    <!--Permission: Allow Connect to Internet-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--Permission: Writing to SDCard-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--Permission: Read to SDCard-->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />


    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="org.undp_iwomen.iwomen.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.undp_iwomen.iwomen.permission.MAPS_RECEIVE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".manager.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <!-- replace @drawable/push_icon with your push icon identifier -->
        <!--<meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/ic_launcher" />-->

        <!-- Content Provider -->
        <provider
            android:name=".provider.IwomenProvider"
            android:authorities="org.undp_iwomen.iwomen" />

        <!-- Google Analytics -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- Google Map -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- CUSTOM LOGIN AND MAIN ACTIVITY -->
        <activity
            android:name=".ui.activity.MainLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Iwomen.SignUp"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="www.iwomenapp.org"
                    android:scheme="http" />
                <!--android:pathPrefix="/home"  note that the leading "/" is required for pathPrefix-->
                <!-- Accepts URIs that begin with "example://gizmos” -->
                <!-- https://developer.android.com/training/app-indexing/deep-linking.html-->
                <data
                    android:host="iwomenapp"
                    android:scheme="iwomenapp" />

            </intent-filter>

        </activity>
        <!-- PARSE LOGIN AND MAIN ACTIVITY -->
        <!--
        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Iwomen.SignUp"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_ENABLED"
                android:value="false" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.TWITTER_LOGIN_ENABLED"
                android:value="false" />
        </activity>
        -->
        <!-- PARSE LOGIN END -->


        <!-- FB LOGIN AND MAIN ACTIVITY -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <!-- FB LOGIN AND MAIN ACTIVITY -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.IntroActivity"
            android:label="@string/app_name">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>

        <!--<activity android:name=".ui.activity.IntroActivity"
            android:label="@string/app_name">
            &lt;!&ndash;<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>&ndash;&gt;

        </activity>-->

        <!--
        Optionally, register AnalyticsReceiver and AnalyticsService to support background
        dispatching on non-Google Play devices
        -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />
        <!-- PARSE PUSH NOTRIFICATION -->
        <!--
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Receiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                &lt;!&ndash; IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name. &ndash;&gt;
                <category android:name="org.undp_iwomen.iwomen" />
            </intent-filter>
        </receiver>
        -->


        <!-- PARSE PUSH NOTRIFICATION -->
        <!--
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        -->
        <!-- PARSE PUSH NOTRIFICATION END -->
        <!--
             Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting
        -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <!-- FB LOGIN -->
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider909633732437583"
            android:exported="true" />

        <receiver
            android:name="org.smk.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="org.undp_iwomen.iwomen" />
            </intent-filter>
        </receiver>

        <service android:name="org.smk.gcm.GcmIntentService" />

        <activity
            android:name=".ui.activity.RegisterMainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.activity.MainLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialAnimations.Blue"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainLoginActivity" />
        </activity>
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:theme="@style/MaterialAnimations.Blue" />
        <activity
            android:name=".ui.activity.DrawerMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.PostDetailActivity"
            android:label="@string/title_activity_post_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.TLGUserPostDetailActivity"
            android:label="@string/title_activity_post_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.AboutUsWebActivity"
            android:label="@string/title_activity_post_detail"
            android:parentActivityName=".ui.activity.DrawerMainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.DrawerMainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.SettingActivity"
            android:label="@string/title_activity_post_detail"
            android:parentActivityName=".ui.activity.DrawerMainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.DrawerMainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.WinPrizeActivity"
            android:label="@string/title_activity_post_detail"
            android:parentActivityName=".ui.activity.DrawerMainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.DrawerMainActivity" />
        </activity>

        <activity
            android:name=".ui.activity.SubResourceListActivity"
            android:label="@string/title_activity_post_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.ResourceDetailActivity"
            android:label="@string/leadership_eng"
            android:parentActivityName=".ui.activity.SubResourceListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.SubResourceListActivity" />
        </activity>
        <activity
            android:name=".ui.activity.MainPhotoPostActivity"
            android:label="@string/title_activity_post_detail"
            android:parentActivityName=".ui.activity.DrawerMainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.DrawerMainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.YouTubeWebviewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <!-- Prevent Activity restart on such events (specially on orientation change) -->

        </activity>
        <activity
            android:name=".ui.activity.TlgProfileActivity"
            android:label="@string/title_activity_post_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.TLGListActivity"
            android:label="@string/title_activity_post_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.PACTAndTLGListActivity"
            android:label="@string/title_activity_post_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.AuthorDetailActivity"
            android:label="@string/title_activity_post_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.ProfileEditActivity"
            android:label="@string/title_activity_post_detail"
            android:parentActivityName=".ui.activity.DrawerMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.DrawerMainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.ProfileEditTLGActivity"
            android:label="@string/title_activity_post_detail"
            android:parentActivityName=".ui.activity.ProfileEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.ProfileEditTLGActivity" />
        </activity>
        <activity
            android:name=".ui.activity.TalkTogetherMainActivity"
            android:label="@string/title_activity_post_detail"
            android:parentActivityName=".ui.activity.DrawerMainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.DrawerMainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.CalendarActivity"
            android:label="@string/title_activity_post_detail"
            android:parentActivityName=".ui.activity.DrawerMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.DrawerMainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.PostNewsActivity"
            android:label="@string/title_activity_post_news" />
        <activity
            android:name="org.smk.iwomen.CompetitionNewGameActivity"
            android:label="@string/title_activity_competition_new_game" />
        <activity
            android:name="org.smk.iwomen.CompetitionWinnerGroupActivity"
            android:label="@string/title_activity_competition_winner_group" />
        <activity
            android:name="org.smk.iwomen.CompetitionSubmitAnswerActivity"
            android:label="@string/title_activity_competition_submit_answer" />
        <activity
            android:name="org.smk.iwomen.CompetitionGroupUserActivity"
            android:label="@string/title_activity_competition_group_user" />
        <activity
            android:name="org.smk.iwomen.GameOverActivity"
            android:label="@string/title_activity_game_over" />
        <!-- Declare the bundled CropImage Activity -->
        <activity android:name="com.android.camera.CropImage" />
        <activity
            android:name=".ui.activity.ViewEventsActivity"
            android:label="@string/title_view_events" />
        <activity
            android:name=".ui.activity.EventDetailActivity"
            android:label="@string/title_event_detail" />
        <activity
            android:name=".ui.activity.NewEventActivity"
            android:label="@string/title_new_event" />
        <activity
            android:name=".ui.activity.PostDetailV2Activity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.LeadershipTipsActivity"
            android:label="@string/title_leadership_tips" />
        <activity
            android:name=".ui.activity.LeadershipTipDetailActivity"
            android:label="@string/title_leadership_lesson" />
        <activity
            android:name=".ui.activity.SisterAppDetailActivity"
            android:label="@string/title_activity_sister_app_detail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.NewPostActivity"
            android:label="@string/title_activity_new_post"
            android:theme="@style/AppTheme" android:parentActivityName=".ui.activity.TalkTogetherMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".ui.activity.DrawerMainActivity" />
        </activity>
        <activity
            android:name="org.smk.iwomen.GcmNotificationDialogActivity"
            android:label="@string/title_activity_gcm_notification_dialog"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="org.youtube.Youtube_MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"></activity>

        <service
            android:name="org.youtube.Youtube_UploadService"
            android:exported="true" />

        <activity
            android:name="org.youtube.Youtube_PlayActivity"
            android:label="@string/title_activity_play"
            android:parentActivityName="org.youtube.Youtube_MainActivity" />
        <activity
            android:name="org.youtube.Youtube_ReviewActivity"
            android:label="@string/title_activity_review"
            android:parentActivityName="org.youtube.Youtube_MainActivity" />
        <activity
            android:name=".ui.activity.IWomenPostSearchActivity"
            android:label="@string/title_activity_post_detail"
            android:parentActivityName=".ui.activity.DrawerMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.DrawerMainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.PostDetailActivityGcmNoti"
            android:label="@string/title_activity_post_detail"
            android:parentActivityName=".ui.activity.DrawerMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.DrawerMainActivity" />
        </activity>
        <activity android:name="org.smk.iwomen.TakeAndTourActivity"></activity>
    </application>

</manifest>
